:root {
  --fg: #f9fbff;
  --bg: #2e282d;
  --hl: #fcc93a;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
}

body {
  font-family: "Robot Mono", monospace;
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  letter-spacing: 0.05rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: var(--fg);
}

a:hover {
  color: var(--hl);
  transition: all 0.2s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
  width: min(60vw, 650px);
  gap: 0.3rem;
}

img {
  width: 5rem;
  height: 5rem;
}

.anchor {
  margin-top: -70px;
  padding-top: 70px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 36px;
  width: 75vw;
}

.projects-container {
  display: flex;
  direction: column;
  gap: 0.2rem;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  background-color: var(--fg);
  color: var(--bg);
  width: max(65vw, 450px);
  padding: 0 1.2rem;
  border-radius: 10px;
}
