:root {
  --fg: #f9fbff;
  --bg: #2e282d;
  --hl: #fcc93a;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
}

body {
  font-family: "Robot Mono", monospace;
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  letter-spacing: 0.05rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: var(--fg);
}

a:hover {
  color: var(--hl);
  transition: all 0.2s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: min(95vw, calc(64rem - 300px));
  height: 1200px;
}

img {
  width: 100px;
  height: 100px;
}

h3.header {
  background-color: var(--hl);
  color: var(--bg);
  border-radius: 3px;
  padding: 3px 8px;
  width: fit-content;
}

.anchor {
  margin-top: -70px;
  padding-top: 70px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 36px;
  width: 75vw;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  background-color: var(--fg);
  color: var(--bg);
  width: max(45vw, 300px);
  padding: 0.9rem 1.2rem;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  animation: 1s;
}

.card-item.animate {
  animation-name: slideUp;
}

.card-item:hover {
  transform: scale(1.1);
}

@keyframes slideUp {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@media screen and (orientation: portrait) {
  .card-item {
    flex-direction: column;
    width: max(25vw, 280px);
    padding: 1.1rem 1rem;
  }
  .card-item:hover {
    transform: scale(1);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #2e282d;
  overflow: hidden;
  z-index: -10;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 33%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 17%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 66%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 85%;
  width: 214px;
  height: 214px;
  bottom: -214px;
  animation-delay: 15s;
}
.background li:nth-child(4) {
  left: 15%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 4s;
}
.background li:nth-child(5) {
  left: 24%;
  width: 213px;
  height: 213px;
  bottom: -213px;
  animation-delay: 6s;
}
.background li:nth-child(6) {
  left: 66%;
  width: 189px;
  height: 189px;
  bottom: -189px;
  animation-delay: 20s;
}
