:root {
  --fg: #f9fbff;
  --bg: #2e282d;
  --hl: #fcc93a;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
}

body {
  font-family: "Robot Mono", monospace;
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  letter-spacing: 0.05rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: var(--fg);
}

a:hover {
  color: var(--hl);
  transition: all 0.2s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: min(95vw, calc(64rem - 300px));
  height: 1200px;
}

img {
  width: 100px;
  height: 100px;
}

h3.header {
  background-color: var(--hl);
  color: var(--bg);
  border-radius: 3px;
  padding: 3px 8px;
  width: fit-content;
}

.anchor {
  margin-top: -70px;
  padding-top: 70px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 36px;
  width: 75vw;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  background-color: var(--fg);
  color: var(--bg);
  width: max(45vw, 300px);
  padding: 0.9rem 1.2rem;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  animation: 1s;
}

.card-item.animate {
  animation-name: slideUp;
}

.card-item:hover {
  transform: scale(1.1);
}

@keyframes slideUp {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@media screen and (orientation: portrait) {
  .card-item {
    flex-direction: column;
    width: max(25vw, 280px);
    padding: 1.1rem 1rem;
  }
  .card-item:hover {
    transform: scale(1);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
