@font-face {
    font-family: "Fira Mono";
    src: url("assets/fonts/FiraMono-Regular.ttf"), url("assets/fonts/FiraMono-Medium.ttf"), url("assets/fonts/FiraMono-Bold.ttf");
    font-weight: normal;
    font-style: norma;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #EEF0E4;
}

.fira-mono {
    font-family: "Fira Mono";
}

#landpage-canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}